/* 
Font
*/
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	/* 
    Primary 
    */
	--Dark-Blue: hsl(233, 26%, 24%);
	--Lime-Green: hsl(136, 65%, 51%);
	--Bright-Cyan: hsl(192, 70%, 51%);

	/* 
    Neutral 
    */
	--Grayish-Blue: hsl(233, 8%, 62%);
	--Light-Grayish-Blue: hsl(220, 16%, 96%);
	--Very-Light-Gray: hsl(0, 0%, 98%);
	--White: hsl(0, 0%, 100%);
	--gradient: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
	--hover-gradient: linear-gradient(to right, hsl(136, 65%, 51%, 0.6), hsl(192, 70%, 51%, 0.6));
}

body {
	font-size: 18px;
	font-family: "Public Sans", sans-serif;
}

.container {
	max-width: 1440px;
	margin: auto;
	padding-block: 3em;
	padding-inline: 2em;
}
a {
	text-decoration: none;
}

						/* Navbar 24/06/22 */
header {
   color: var(--Light);
   background-color: var(white);
   width: 100%;
   padding: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: 0.5s ease;
   font-family: 'Public Sans', sans-serif;
}

header .navbar .logo {
   font-size: 1.5rem;
   font-weight: bold;
   float: left;
   padding: 20px;
   cursor: pointer;
}

header .navbar ul {
   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

header .navbar ul li {
   list-style: none;
   padding: 10px;
}

header .navbar ul li a {
   text-decoration: none;
   color: var(--Grayish);
   transition: all 0.3s ease 0s;

}

header .navbar ul li a:hover {
   color: var(--Grayish);
}
button {
   padding: 3px 25px;
   background-image: var(--gradient);
   /* background-color: var() */
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
   margin-top: 5px;
   letter-spacing: 0.5px;
}

button:hover {
   background-color: red;
}

header .nav-toggle {
   display: none;
   position: absolute;
}

header .nav-toggle img {
   background: #fff;
   color: #fff;
}

header .hambuger {
   /* width: 30px;
   height: 5px;
  background-color: blue;  */
}

@media screen and (max-width: 1440px) {
      navbar {
      display: none;
   }
}
@media screen and (max-width: 375px) {
      nav .navbar {
       position: absolute;
      right: 0px;
      height: 92vh;
     top: 8vh;
     background-color: var(white);
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 50%;
   }
   .nav li{
      opacity: 0;
   }
   .hambuger {
      display: block;
      cursor: pointer;
   }
}

									/* navbar Ended */
									
/*
NEXT GENERATION DIGITAL BANKING SECTION
*/
.section1{
  position: relative;
  background-color: var(--Very-Light-Gray);
  height: 33em;
  display: flex;
  align-items: center;
}

.section1-content{
  width: 460px;
font-weight: 400;
color: var(--Dark-Blue);
padding-left: 5%;
}
.section1-content h1{
	font-size: 2.5em;
	font-weight: 400;
	color: var(--Dark-Blue);
	margin-bottom: 1.5rem;
	margin-inline: 1em;
    text-align: left;
}

.section11 {
    font-size: 2.5em;
	font-weight: 400;
	color: var(--Dark-Blue);
    text-align: left;
    margin-bottom: 1rem
}

.section1-content p{
  margin: rem 0 5rem ;
}

.section1-content2 {
    text-align: left;
	line-height: 1.2em;
	color: var(--Grayish-Blue);
    text-align: left;
    width: 2000px;
}

.section1-image1 {
    position: flex;
    padding: -18%; 
    height: 71em;
    width: 15px;
    }

.section1-image2 {
    position: flex;
    padding: 17%;
}

section
.request-button {
    padding: 15px 40px;
	background-image: var(--gradient);
	border: 0;
	border-radius: 30px;
	margin-block: 1.5rem;
	color: var(--White);
}
/*
NEXT GENERATION DIGITAL BANKING SECTION ENDS HERE
*/

/* 
WHY CHOOSE EASYBANK SECTION 
*/
.easybank-section {
	background-color: var(--Light-Grayish-Blue);
}

.easybank-section-header {
	text-align: center;
}

.easybank-section-head {
	font-size: 2.5em;
	font-weight: 400;
	color: var(--Dark-Blue);
	margin-bottom: 1.5rem;
	margin-inline: 1em;
}

.easybank-section-p {
	color: var(--Grayish-Blue);
	line-height: 1.5em;
}

/* 
EASYBANK CARD SECTION 
*/
.easybank-card-section {
	margin-top: 3em;
	display: grid;
	gap: 2em;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.easybank-section-card {
	max-width: 400px;
}

.easybank-section-card h4 {
	font-size: 1.5em;
	font-weight: normal;
	color: var(--Dark-Blue);
	margin-block: 1em;
}

.easybank-section-card p {
	text-align: center;
	line-height: 1.5em;
	color: var(--Grayish-Blue);
}
/*
EASYBANK CARD SECTION ENDS 
*/
@media (min-width: 800px) {
	.easybank-section-header {
		text-align: left;
	}

	.easybank-section-head {
		margin-inline: 0;
	}

	.easybank-section-p {
		max-width: 700px;
	}

	.easybank-card-section {
		grid-template-columns: repeat(2, 1fr);
		text-align: left;
		justify-content: left;
		align-items: left;
	}

	.easybank-section-card p {
		text-align: left;
	}
}

@media (min-width: 1100px) {
	.easybank-card-section {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* 
WHY CHOOSE EASYBANK SECTION ENDS HERE 
*/

/* 
LATEST ARTICLE SECTION 
*/
.latest-article {
	background-color: var(--Very-Light-Gray);
}

.latest-article .container h3 {
	font-size: 2.5em;
	font-weight: 400;
	color: var(--Dark-Blue);
	margin-bottom: 1.5rem;
	margin-inline: 1em;
	text-align: center;
}

/* 
LATEST ARTICLE CARD SECTION 
*/

.latest-article-card-section {
	margin-top: 3em;
	display: grid;
	gap: 2em;
	margin: auto;
	justify-content: center;
}

.latest-article-card {
	background-color: var(--White);
	border-radius: 10px;
	max-width: 412px;
}

.latest-article-card-section img {
	width: 100%;
	height: 255px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	object-fit: cover;
}

.latest-article-card-detail {
	padding: 1.5em;
}

.latest-article-card-detail .name {
	color: var(--Grayish-Blue);
	font-size: 0.7em;
	margin-bottom: 1.3em;
}

.latest-article-card-detail h4 {
	color: var(--Dark-Blue);
	font-size: 1.2em;
	font-weight: 500;
	margin-bottom: 0.5em;
}

.latest-article-card-detail h4:hover {
	color: var(--Lime-Green);
}

.latest-article-card-detail .quote {
	color: var(--Grayish-Blue);
	font-size: 0.9em;
	line-height: 1.4em;
	padding-bottom: 2em;
}

/* 
LATEST ARTICLE CARD SECTION ENDS
*/
@media (min-width: 800px) {
	.latest-article .container h3 {
		text-align: left;
		margin-inline: 0;
	}

	.latest-article-card-section {
		grid-template-columns: repeat(2, 1fr);
	}

	.latest-article-card-detail .quote {
		padding-bottom: 0;
	}
}

@media (min-width: 1100px) {
	.latest-article-card-section {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* 
LATEST ARTICLE SECTION END
*/

/* 
Footer
*/
footer {
	background-color: var(--Dark-Blue);
	color: var(--White);
	text-align: center;
}

.footer-contact {
	margin-bottom: 2em;
}

.footer-media-icons {
	margin-top: 2rem;
}

.footer-media-icons a i {
	color: var(--White);
	font-size: 1.5rem;
	margin-inline: 8px;
}

.footer-media-icons :hover {
	color: var(--Lime-Green);
}

.footer-details li {
	list-style: none;
	margin-block: 1rem;
}

.footer-details li a {
	color: var(--Light-Grayish-Blue);
}

.footer-details li a:hover {
	color: var(--Lime-Green);
}

.btn {
	padding: 15px 40px;
	background-image: var(--gradient);
	border: 0;
	border-radius: 30px;
	margin-block: 1.5rem;
}

.btn a {
	color: var(--White);
}

.btn:hover {
	background-image: var(--hover-gradient);
}

.copyright {
	color: var(--Grayish-Blue);
	margin-top: 20px;
}

@media (min-width: 1000px) {
	footer .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	footer section {
		display: flex;
	}

	.footer-contact {
		margin-top: 20px;
		text-align: start;
	}

	.space-between {
		width: 100px;
	}

	.footer-details {
		display: flex;
		justify-content: space-between;
		text-align: left;
	}

	.footer-about-us {
		margin-inline: 20px;
	}

	.footer-career {
		margin-inline: 20px;
	}

	.footer-request {
		margin-left: 30px;
	}
}
/* 
Footer End
*/

/*
Attribution
*/
.attribution {
	margin-top: 3rem;
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
