* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
  }

  :root {
    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
    --gradient: linear-gradient( to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  }
  /****** CHILOTA SECTION ************/
  
  /**************** body *****************/
.body {
    font-size: 20px;
    font-family: "Public Sans", sans-serif;
    overflow-x: scroll;
}

/***** Latest Article **************/
.latest-article {
    margin-top:10px ;
    color: var(--Light-Grayish-Blue);
}
/********** h3 *****************/
.latest-article .container h3 {
    font-size: 2em;
    font-weight: 40;
    margin-bottom: 20px;
    color: var(--Dark-Blue);
    text-align: center;
    margin-inline: 1em;
}
/****** Card Section ***************/
.card-section {
    margin-top: 2.5em;
    display: grid;
    gap: 25px;
    margin: auto;
    justify-content: center;
    }
/****** Individual cards *********/
.individual-card {
    background-color: var(--White);
    border-radius: 12px;
    max-width: 400px;
}
/********* Images ***************/
.individual-card img {
    width: 100%;
    height: 256px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    object-fit: cover;
}
/******* Individual Card Details ******/
.individual-card-details {
/*  margin: 12px 12px;*/
    padding: 1em;
}
.individual-card-details .name {
    color: var(--Dark-Blue);
    font-size: 1em;
    margin-bottom: 10px;
    font-style: italic;
}
/********** h4 ********************/
.individual-card-details h4 {
    margin-bottom: 10px;
    color: var(--Dark-Blue);
    font-weight: 400;
    font-size: 1.1em;
}
/********* quotes *****************/
.individual-card-details .quote {
    color: var(--Grayish-Blue);
    font-size: 1em;
    font-weight: 300;
    line-height: 1.3em;
    padding-bottom: 2em;
}
/********* @media ***********/
@media (min-width: 800px) {
/************ h3 ******************/
.latest-article .container h3 {
    text-align: left;
    margin-inline: 0;
}
/********** Quote Section  ************/
    .individual-card-details .quote {
    padding-bottom: 0;
    }
}
/********* @media Card Section ************/
@media (min-width: 1000px)    {
.card-section {
        grid-template-columns: repeat(4,1fr);
}

}

  footer {
    background: var(--Dark-Blue);
    width: 100%;
    color: var(--White);
    padding: 30px 200px;
    /* display: flex; */
    font-size: 18px;
    font-family: "public sans", sans-serif;
    justify-content: center;
    align-items: center;
  }

  .container {
    min-width: 375px;
    max-width: 1440px;
  }

footer .footer .container {
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
}

footer .footer .container .col-left {
    position: relative;
    color: var(--White);
    /* text-transform: uppercase; */
}

footer .footer .container .col-left .footer-title {
    position: relative;
    margin-bottom: 60px;
    /* color: #fff; */
}

footer .footer .container .col-left .footer-title img {
    height: 15px;
    width: 30px;
}

footer .footer .container .col-left .media-icons a {
    color: var(--White);
    font-size: 16px;
    margin-right: 8px;
}

footer .footer .container .col-left .media-icons a:hover {
    color: hsl(136, 65%, 51%);
    /* background-color: hsl(136, 65%, 51%); */
    transition: 1s ease;
}

footer .footer .container .details {
    display: flex;
    justify-content: center;
}

footer .footer .container .details .left {
    margin-right: 60px;
}

footer .footer .container .details .right {
    position: relative;
}


footer .footer .container .details ul li {
    list-style: none;
    margin-bottom: 20px;
}

footer .footer .container .details ul li:hover {
    color: var(--Lime-Green);
    transition: 1s ease;
}

footer .footer .container .col-right {
    position: relative;
}

footer .footer .container .col-right .btn {
    color: var(--White);
    background: var(--gradient);
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding: 10px 20px;
    /* text-transform: uppercase; */
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 100px;
    margin-bottom: 50px;
}

footer .footer .container .col-right .btn:hover {
    background: var(--gradient);
    transition: 1s ease;
}



footer .footer .container .col-right .copyright {
    position: relative;
    color: rgba(250, 250, 250, 0.562);
    font-size: 0.8em;
}

@media (max-width: 700px) {
    footer {
        position: relative;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
}
}

@media (max-width: 700px) {
    footer .footer .container {
        justify-content: center;
        align-items: center;
        display: block;
        text-align: center;
}
}
/* footer title */
@media (max-width: 700px) {
    footer .footer .container .col-left .footer-title {
        margin-bottom: 30px;
    }
}
/* media icons */
@media (max-width: 700px) {
    footer .footer .container .col-left .media-icons a {
        font-size: 25px;
    }
}
/* details */
@media (max-width: 700px) {
    footer .footer .container .details {
        display: block;
        margin-top: 40px;
    }
}
/* details left  */
@media (max-width: 700px) {
    footer .footer .container .details .left {
        margin-right: 0;
    }
}

/* details ul li */
@media (max-width: 700px) {
    footer .footer .container .details ul li {
        margin-bottom: 12px;
        align-items: center;
    }
}
/* btn */
@media (max-width: 700px) {
    footer .footer .container .col-right .btn {
        margin-top: 28px;
        margin-bottom: 0px ;
}
}
/* copyright */
@media (max-width: 700px) {
    footer .footer .container .col-right .copyright {
        margin-top: 30px;
}
}
