/* 
Font
*/
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	/* 
    Primary 
    */
	--Dark-Blue: hsl(233, 26%, 24%);
	--Lime-Green: hsl(136, 65%, 51%);
	--Bright-Cyan: hsl(192, 70%, 51%);

	/* 
    Neutral 
    */
	--Grayish-Blue: hsl(233, 8%, 62%);
	--Light-Grayish-Blue: hsl(220, 16%, 96%);
	--Very-Light-Gray: hsl(0, 0%, 98%);
	--White: hsl(0, 0%, 100%);
	--gradient: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
	--hover-gradient: linear-gradient(to right, hsl(136, 65%, 51%, 0.6), hsl(192, 70%, 51%, 0.6));
}

body {
	font-size: 18px;
	font-family: "Public Sans", sans-serif;
}

.container {
	max-width: 1440px;
	margin: auto;
	padding-block: 3em;
	padding-inline: 2em;
}

a {
	text-decoration: none;
}

.btn {
	padding: 15px 40px;
	background-image: var(--gradient);
	border: 0;
	border-radius: 30px;
	margin-block: 1.5rem;
}

.btn a {
	color: var(--White);
}

.btn:hover {
	background-image: var(--hover-gradient);
}

/*
NAVBAR
*/
.navbar {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	position: fixed;
	z-index: 1;
}

.nav-container {
	width: 90vw;
	max-width: 1440px;
}

.nav-header {
	width: 90vw;
	margin: 0 auto;
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-logo {
	display: flex;
	align-items: center;
}

.nav-logo img {
	width: 150px;
}

.nav-btn {
	border: none;
	background-color: inherit;
	cursor: pointer;
}

.nav-btn img {
	width: 30px;
}

.nav-list {
	background-color: var(--White);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 0;
	overflow: hidden;
	transition: 0.3s ease;
}

.nav-link {
	color: var(--Dark-Blue);
	padding-block: 10px;
}

.nav-link:hover {
	border-bottom: var(--Lime-Green) 2px solid;
}

.nav-list button {
	margin-block: 15vh;
}

.show-links {
	height: 85vh;
}

@media (min-width: 900px) {
	.nav-btn {
		display: none;
	}

	.navbar {
		height: 15vh;
	}

	.nav-container {
		display: flex;
		align-items: center;
	}

	.nav-header {
		width: auto;
		margin-right: 10%;
	}

	.nav-list {
		height: auto;
		flex-direction: row;
		align-items: center;
		width: 100%;
		justify-content: space-around;
	}

	.nav-list button {
		margin-block: 0;
	}

	.nav-link {
		padding-block: 20px;
	}
}

@media (min-width: 1000px) {
	.nav-header {
		margin-right: 15%;
	}

	.nav-list button {
		margin-left: 15%;
	}
}

@media (min-width: 1200px) {
	.nav-header {
		margin-right: 20%;
	}

	.nav-list button {
		margin-left: 20%;
	}
}
/*
NAVBAR END
*/

/* 
HERO SECTION 
*/
.hero-section {
	background-color: var(--Very-Light-Gray);
	padding-top: 15vh;
}

.hero-container {
	max-width: 1440px;
	margin: auto;
}

.hero-image {
	height: 50vh;
	width: 100%;
	background-image: url("/assets/images/bg-intro-mobile.svg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: hidden;
	position: relative;
}

.hero-image img {
	width: 90%;
	display: flex;
	justify-content: center;
	position: absolute;
	top: -140px;
}

.hero-details {
	padding-inline: 2em;
	padding-bottom: 3rem;
	text-align: center;
	max-width: 550px;
	margin: auto;
}

.hero-details h1 {
	color: var(--Dark-Blue);
	font-size: 2.2rem;
	font-weight: 400;
	margin-top: 2rem;
	margin-bottom: 1.3rem;
}

.hero-details p {
	color: var(--Grayish-Blue);
	line-height: 1.3rem;
	margin-bottom: 0.8rem;
}

@media (min-width: 900px) {
	.hero-container {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		padding-left: 2em;
	}

	.hero-image {
		height: auto;
		background-image: url("/assets/images/bg-intro-desktop.svg");
		background-size: auto;
		overflow: visible;
		width: 50%;
	}

	.hero-image img {
		width: 90%;
		display: flex;
		justify-content: end;
		position: absolute;
		top: -180px;
	}

	.hero-details {
		text-align: start;
		padding-inline: 0px;
		margin: 0;
	}
}

/* 
HERO SECTION END
*/

/* 
WHY CHOOSE EASYBANK SECTION 
*/
.easybank-section {
	background-color: var(--Light-Grayish-Blue);
}

.easybank-section-header {
	text-align: center;
}

.easybank-section-head {
	font-size: 2.5em;
	font-weight: 400;
	color: var(--Dark-Blue);
	margin-bottom: 1.5rem;
	margin-inline: 1em;
}

.easybank-section-p {
	color: var(--Grayish-Blue);
	line-height: 1.5em;
}

/* 
EASYBANK CARD SECTION 
*/
.easybank-card-section {
	margin-top: 3em;
	display: grid;
	gap: 2em;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.easybank-section-card {
	max-width: 400px;
}

.easybank-section-card h4 {
	font-size: 1.5em;
	font-weight: normal;
	color: var(--Dark-Blue);
	margin-block: 1em;
}

.easybank-section-card p {
	text-align: center;
	line-height: 1.5em;
	color: var(--Grayish-Blue);
}
/*
EASYBANK CARD SECTION ENDS 
*/
@media (min-width: 800px) {
	.easybank-section-header {
		text-align: left;
	}

	.easybank-section-head {
		margin-inline: 0;
	}

	.easybank-section-p {
		max-width: 700px;
	}

	.easybank-card-section {
		grid-template-columns: repeat(2, 1fr);
		text-align: left;
		justify-content: left;
		align-items: left;
	}

	.easybank-section-card p {
		text-align: left;
	}
}

@media (min-width: 1100px) {
	.easybank-card-section {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* 
WHY CHOOSE EASYBANK SECTION ENDS HERE 
*/

/* 
LATEST ARTICLE SECTION 
*/
.latest-article {
	background-color: var(--Very-Light-Gray);
}

.latest-article .container h3 {
	font-size: 2.5em;
	font-weight: 400;
	color: var(--Dark-Blue);
	margin-bottom: 1.5rem;
	margin-inline: 1em;
	text-align: center;
}

/* 
LATEST ARTICLE CARD SECTION 
*/

.latest-article-card-section {
	margin-top: 3em;
	display: grid;
	gap: 2em;
	margin: auto;
	justify-content: center;
}

.latest-article-card {
	background-color: var(--White);
	border-radius: 10px;
	max-width: 412px;
}

.latest-article-card-section img {
	width: 100%;
	height: 255px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	object-fit: cover;
}

.latest-article-card-detail {
	padding: 1.5em;
}

.latest-article-card-detail .name {
	color: var(--Grayish-Blue);
	font-size: 0.7em;
	margin-bottom: 1.3em;
}

.latest-article-card-detail h4 {
	color: var(--Dark-Blue);
	font-size: 1.2em;
	font-weight: 500;
	margin-bottom: 0.5em;
}

.latest-article-card-detail h4:hover {
	color: var(--Lime-Green);
}

.latest-article-card-detail .quote {
	color: var(--Grayish-Blue);
	font-size: 0.9em;
	line-height: 1.4em;
	padding-bottom: 2em;
}

/* 
LATEST ARTICLE CARD SECTION ENDS
*/
@media (min-width: 800px) {
	.latest-article .container h3 {
		text-align: left;
		margin-inline: 0;
	}

	.latest-article-card-section {
		grid-template-columns: repeat(2, 1fr);
	}

	.latest-article-card-detail .quote {
		padding-bottom: 0;
	}
}

@media (min-width: 1100px) {
	.latest-article-card-section {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* 
LATEST ARTICLE SECTION END
*/

/* 
Footer
*/
footer {
	background-color: var(--Dark-Blue);
	color: var(--White);
	text-align: center;
}

.footer-contact {
	margin-bottom: 2em;
}

.footer-media-icons {
	margin-top: 2rem;
}

.footer-media-icons a i {
	color: var(--White);
	font-size: 1.5rem;
	margin-inline: 8px;
}

.footer-media-icons :hover {
	color: var(--Lime-Green);
}

.footer-details li {
	list-style: none;
	margin-block: 1rem;
}

.footer-details li a {
	color: var(--Light-Grayish-Blue);
}

.footer-details li a:hover {
	color: var(--Lime-Green);
}

.copyright {
	color: var(--Grayish-Blue);
	margin-top: 20px;
}

@media (min-width: 1000px) {
	footer .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	footer section {
		display: flex;
	}

	.footer-contact {
		margin-top: 20px;
		text-align: start;
	}

	.space-between {
		width: 100px;
	}

	.footer-details {
		display: flex;
		justify-content: space-between;
		text-align: left;
	}

	.footer-about-us {
		margin-inline: 20px;
	}

	.footer-career {
		margin-inline: 20px;
	}

	.footer-request {
		margin-left: 30px;
	}
}
/* 
Footer End
*/
