/* 
Font
*/
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	/* 
    Primary 
    */
	--Dark-Blue: hsl(233, 26%, 24%);
	--Lime-Green: hsl(136, 65%, 51%);
	--Bright-Cyan: hsl(192, 70%, 51%);

	/* 
    Neutral 
    */
	--Grayish-Blue: hsl(233, 8%, 62%);
	--Light-Grayish-Blue: hsl(220, 16%, 96%);
	--Very-Light-Gray: hsl(0, 0%, 98%);
	--White: hsl(0, 0%, 100%);
	--gradient: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
	--hover-gradient: linear-gradient(to right, hsl(136, 65%, 51%, 0.6), hsl(192, 70%, 51%, 0.6));
}

body {
	font-size: 18px;
	font-family: "Public Sans", sans-serif;
}

.container {
	max-width: 1440px;
	margin: auto;
	padding-block: 3em;
	padding-inline: 2em;
}

/* header */
header {
	color: var(--Light);
	background-color: var(white);
	width: 100%;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s ease;
	font-family: "Public Sans", sans-serif;
}

header .navbar .logo {
	font-size: 1.5rem;
	font-weight: bold;
	float: left;
	padding: 20px;
	cursor: pointer;
}

header .navbar ul {
	display: flex;
}

header .navbar ul li {
	list-style: none;
	padding: 10px;
}

header .navbar ul li a {
	text-decoration: none;
	color: var(--Grayish);
	transition: all 0.3s ease 0s;
}

header .navbar ul li a:hover {
	color: var(--Grayish);
}
button {
	padding: 9px 25px;
	background-color: aquamarine;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	margin-top: 5px;
	letter-spacing: 0.5px;
}

button:hover {
	background-color: red;
}

.hambuger {
	/* display: none; */
}

.hambuger div {
	width: 20px;
	height: 3px;
	background-color: blue;
	margin: 3px;
}

@media screen and (max-width: 1440px) {
	navbar {
		display: none;
	}
}
@media screen and (max-width: 375px) {
	nav .navbar {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: var(white);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
	}
	.nav li {
		opacity: 0;
	}
	.hambuger {
		display: block;
		cursor: pointer;
	}
}
